img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  background-color: goldenrod;
}

.hexGridA {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 14px;
  margin-bottom: 14px;
  background-color: gold;
}

.hexGridB {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 14px;
  padding-left: 127px;
  margin-bottom: 14px;
  background-color: pink;
}

.hex {
  display: flex;
  position: relative;
  width: 240px; /* creates overflow to grid-auto-rows: 200px */
  height: 265px; /* creates overflow to grid-auto-rows: 200px */
  background-color: #424242;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
}

